<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>pic32-toolchain-launch</string>
	<key>CFBundleIdentifier</key>
	<string>local.scs.mcb32tools</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>m32t</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>CFBundleName</key>
	<string>mcb32</string>
	<key>CFBundleDisplayName</key>
	<string>MCB32 Tools</string>
	<key>CFBundleVersion</key>
	<string>1231</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>toolchain</string>
</dict>
</plist>
